/* General styles */
:root {
    --color-bg: #353C40;
    --color-text: #dcdbd1;
    --font-base: 'Merriweather', sans-serif;
}

body {
    background: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-base);
    font-style: 400;
}
/* Typography */

/* Header and main navigation */
header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    border-bottom: 1px solid #dcdbd1;
    background: #dcdbd1;    
    position: fixed; /* stays at the top */
    top: 0;
    left: 0;
    z-index: 100;
    box-sizing: border-box;
}

.header-title {
    color: var(--color-bg);
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
}

header p {
    color: var(--color-bg);
    font-size: 12px;
}

header button {
    padding: 0.4rem 1rem;
    border-radius: 20px;
    border: 1px solid #222;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease;
    text-align: right;
}